// Glyphicons font path
$icon-font-path: "../fonts/";
// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 5;
// Colors
$brand-primary: #27ae60;
$footer-color: #eeeeef;
$orange-color: #b15c11;
$blue-color: #003D79;
$light-gray-color: #eaebec;
$text-gray-color: #4f4e50;
$white-color: #ffffff;
// Fonts
$font-stack: 'Lato',
sans-serif;
$grid-float-breakpoint: 992px;